@import url('TrackList.css');
@import url('Skeleton.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

a,
a:visited {
  cursor: pointer;
  font-family: StratosSkyeng, sans-serif;
  text-decoration: none;
}

button,
._btn {
  cursor: pointer;
}

ul li {
  list-style: none;
}

@font-face {
  font-family: StratosSkyeng;
  font-style: normal;
  font-weight: 400;
  src:
    local('StratosSkyeng'),
    url('../../public/fonts/StratosSkyeng.woff2') format('woff2'),
    url('../../public/fonts/StratosSkyeng.woff') format('woff');
}

html,
body {
  color: #fff;
  font-family: StratosSkyeng, sans-serif;
  height: 100%;
  width: 100%;
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

.wrapper {
  background-color: #383838;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.container {
  background-color: #181818;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

._btn-text:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
  font-family: StratosSkyeng, sans-serif;
}

._btn-icon:hover svg {
  cursor: pointer;
  fill: transparent;
  stroke: #acacac;
}

._btn-text:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}

._btn-icon:active svg {
  cursor: pointer;
  fill: transparent;
  stroke: #fff;
}

._btn-icon:active .track-play__like-svg,
._btn-icon:active .track-play__dislike-svg {
  cursor: pointer;
  fill: #696969;
  stroke: #ffff;
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
